<form class="converter">
  <label class="converter__container">
    Money in currency
    <input
      type="number"
      [formControl]="inputControl"
      class="converter__input"
      min="0"
      (input)="onInputChange(inputControl.value)"
    >
  </label>

  <label class="converter__container">
    Choose currency

    <select
      (change)="onSelectChange(selectControl.value)"
      class="converter__input converter__select"
      [formControl]="selectControl"
    >
      <option
        value="{{ USD.rate }}"
      >
        {{ USD.cc }}
      </option>

      <option value="{{ EUR.rate }}">
        {{ EUR.cc }}
      </option>

      <option value="1">
        UAH
      </option>
    </select>
  </label>

  <img
    src="assets/exchange.png"
    alt="exchange"
    class="converter__image"
  >

  <div class="converter__container">
    <label class="converter__container">
      Result in UAH

      <input
        class="converter__input"
        [formControl]="resultControl"
        min="0"
        (input)="onResultChange(resultControl.value)"
        type="number"
      >
    </label>
  </div>
</form>